[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = UwUssimo Robinson
	email = uwussimo@icloud.com
[color]
	ui = true
